In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style = 'whitegrid')
from sklearn.linear_model import Lasso, LassoCV, Ridge, RidgeCV, LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor, VotingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint as sp_randint
from scipy.stats import uniform as sp_uniform
import lightgbm as lgb
from sklearn.feature_selection import SelectFromModel
pd.pandas.set_option('display.max_columns', None)
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.metrics import mean_squared_error

In [1]:
X_train = pd.read_csv('X_train_lasso.csv')
display(X_train.head())
print(X_train.shape)

X_test = pd.read_csv('X_test_lasso.csv')
display(X_test.head())
print(X_test.shape)

y_df = pd.read_csv('y_train_transformed.csv', names = ['y_train_transformed'])
display(y_df.head())
print(y_df.shape)

,Item_Weight,Item_Visibility,Item_MRP,Price_Per_Unit,Outlet_Vintage,Item_Identifier_FD,Item_Fat_Content_Regular,Item_Type_Perishables,Outlet_Size_Medium,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type3,Outlet_Crowd_Low_Crowd
0,-0.409175,-0.921425,1.163142,1.200161,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,-0.828270,-0.812330,-1.031872,-0.324319,-0.588235,-1.0,1.0,0.0,0.0,1.0,-1.0,0.0,0.0
2,0.607564,-0.896179,-0.015191,-0.332145,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.818351,-0.703279,0.425652,-0.162868,0.058824,0.0,1.0,1.0,0.0,1.0,-1.0,0.0,1.0
4,-0.455053,-1.031434,-0.970966,-0.622997,0.705882,-1.0,0.0,0.0,-1.0,1.0,0.0,0.0,0.0

(8523, 13)

,Item_Weight,Item_Visibility,Item_MRP,Price_Per_Unit,Outlet_Vintage,Item_Identifier_FD,Item_Fat_Content_Regular,Item_Type_Perishables,Outlet_Size_Medium,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type3,Outlet_Crowd_Low_Crowd
0,1.010539,-1.305060,-0.382832,-0.759623,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.533168,-0.336835,-0.606564,-0.047305,-0.470588,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.247985,0.527794,1.075409,0.507836,0.058824,-1.0,0.0,0.0,0.0,1.0,-1.0,0.0,1.0
3,-0.655301,-0.945438,0.130925,0.847099,-0.470588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.123993,0.718598,0.993465,0.560052,0.823529,0.0,1.0,1.0,0.0,1.0,-1.0,1.0,0.0

(5681, 13)

   y_train_transformed
0            15.515611
1             7.625576
2            12.800240
3             9.013888
4             9.982319

(8523, 1)

In [2]:
y_train = y_df['y_train_transformed']
display(y_train.head())
print(y_train.shape)

0    15.515611
1     7.625576
2    12.800240
3     9.013888
4     9.982319
Name: y_train_transformed, dtype: float64

(8523,)

In [5]:
RMSEs = {}

In [22]:
test = pd.read_csv('BigMart_Test.csv')
display(test.head())

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

#### Ridge

In [121]:
np.logspace(-1, 1, 1000)

array([ 0.1       ,  0.10046204,  0.10092622,  0.10139254,  0.10186102,
        0.10233166,  0.10280447,  0.10327947,  0.10375667,  0.10423607,
        0.10471768,  0.10520152,  0.1056876 ,  0.10617592,  0.1066665 ,
        0.10715934,  0.10765446,  0.10815187,  0.10865158,  0.10915359,
        0.10965793,  0.11016459,  0.1106736 ,  0.11118496,  0.11169868,
        0.11221478,  0.11273326,  0.11325413,  0.11377741,  0.11430311,
        0.11483124,  0.11536181,  0.11589483,  0.11643031,  0.11696827,
        0.11750871,  0.11805165,  0.1185971 ,  0.11914507,  0.11969557,
        0.12024861,  0.12080421,  0.12136238,  0.12192313,  0.12248646,
        0.1230524 ,  0.12362095,  0.12419214,  0.12476596,  0.12534243,
        0.12592156,  0.12650337,  0.12708787,  0.12767507,  0.12826498,
        0.12885762,  0.129453  ,  0.13005113,  0.13065202,  0.13125568,
        0.13186214,  0.1324714 ,  0.13308347,  0.13369837,  0.13431612,
        0.13493671,  0.13556018,  0.13618652,  0.13681576,  0.13744791,
        0.13808298,  0.13872098,  0.13936193,  0.14000584,  0.14065272,
        0.1413026 ,  0.14195548,  0.14261137,  0.1432703 ,  0.14393226,
        0.14459729,  0.14526539,  0.14593658,  0.14661087,  0.14728827,
        0.14796881,  0.14865248,  0.14933932,  0.15002933,  0.15072253,
        0.15141893,  0.15211855,  0.1528214 ,  0.1535275 ,  0.15423686,
        0.1549495 ,  0.15566544,  0.15638468,  0.15710724,  0.15783314,
        0.1585624 ,  0.15929502,  0.16003103,  0.16077044,  0.16151327,
        0.16225953,  0.16300924,  0.16376241,  0.16451906,  0.16527921,
        0.16604287,  0.16681005,  0.16758079,  0.16835508,  0.16913295,
        0.16991442,  0.17069949,  0.1714882 ,  0.17228054,  0.17307655,
        0.17387624,  0.17467962,  0.17548671,  0.17629754,  0.17711211,
        0.17793044,  0.17875255,  0.17957846,  0.18040819,  0.18124175,
        0.18207917,  0.18292045,  0.18376562,  0.18461469,  0.18546769,
        0.18632463,  0.18718553,  0.18805041,  0.18891928,  0.18979216,
        0.19066908,  0.19155006,  0.1924351 ,  0.19332423,  0.19421747,
        0.19511483,  0.19601635,  0.19692203,  0.19783189,  0.19874595,
        0.19966425,  0.20058678,  0.20151357,  0.20244465,  0.20338003,
        0.20431973,  0.20526378,  0.20621218,  0.20716497,  0.20812216,
        0.20908377,  0.21004982,  0.21102034,  0.21199535,  0.21297485,
        0.21395889,  0.21494747,  0.21594062,  0.21693835,  0.2179407 ,
        0.21894768,  0.21995931,  0.22097561,  0.22199661,  0.22302233,
        0.22405279,  0.22508801,  0.22612801,  0.22717281,  0.22822245,
        0.22927693,  0.23033629,  0.23140054,  0.23246971,  0.23354381,
        0.23462288,  0.23570694,  0.23679601,  0.2378901 ,  0.23898926,
        0.24009349,  0.24120282,  0.24231728,  0.24343689,  0.24456167,
        0.24569165,  0.24682685,  0.24796729,  0.249113  ,  0.25026401,
        0.25142033,  0.252582  ,  0.25374904,  0.25492147,  0.25609931,
        0.2572826 ,  0.25847135,  0.2596656 ,  0.26086536,  0.26207067,
        0.26328155,  0.26449802,  0.26572011,  0.26694785,  0.26818126,
        0.26942037,  0.27066521,  0.27191579,  0.27317216,  0.27443433,
        0.27570233,  0.27697619,  0.27825594,  0.2795416 ,  0.2808332 ,
        0.28213077,  0.28343433,  0.28474392,  0.28605955,  0.28738127,
        0.28870909,  0.29004305,  0.29138317,  0.29272948,  0.29408202,
        0.2954408 ,  0.29680586,  0.29817723,  0.29955493,  0.300939  ,
        0.30232947,  0.30372636,  0.3051297 ,  0.30653953,  0.30795587,
        0.30937876,  0.31080822,  0.31224428,  0.31368698,  0.31513635,
        0.31659241,  0.3180552 ,  0.31952475,  0.32100109,  0.32248425,
        0.32397426,  0.32547116,  0.32697497,  0.32848574,  0.33000348,
        0.33152823,  0.33306003,  0.33459891,  0.3361449 ,  0.33769803,
        0.33925834,  0.34082585,  0.34240061,  0.34398265,  0.34557199,
        0.34716868,  0.34877275,  0.35038422,  0.35200315,  0.35362955,
        0.35526347,  0.35690493,  0.35855399,  0.36021066,  0.36187498,
        0.363547  ,  0.36522674,  0.36691424,  0.36860954,  0.37031267,
        0.37202367,  0.37374257,  0.37546942,  0.37720425,  0.37894709,
        0.38069799,  0.38245697,  0.38422408,  0.38599936,  0.38778284,
        0.38957456,  0.39137456,  0.39318288,  0.39499955,  0.39682461,
        0.39865811,  0.40050008,  0.40235055,  0.40420958,  0.4060772 ,
        0.40795345,  0.40983837,  0.41173199,  0.41363437,  0.41554553,
        0.41746553,  0.4193944 ,  0.42133217,  0.42327891,  0.42523463,
        0.4271994 ,  0.42917324,  0.4311562 ,  0.43314832,  0.43514965,
        0.43716022,  0.43918009,  0.44120929,  0.44324786,  0.44529585,
        0.44735331,  0.44942027,  0.45149678,  0.45358288,  0.45567863,
        0.45778405,  0.45989921,  0.46202414,  0.46415888,  0.46630349,
        0.46845801,  0.47062248,  0.47279696,  0.47498148,  0.47717609,
        0.47938085,  0.48159579,  0.48382097,  0.48605642,  0.48830221,
        0.49055837,  0.49282496,  0.49510202,  0.4973896 ,  0.49968775,
        0.50199651,  0.50431595,  0.5066461 ,  0.50898702,  0.51133875,
        0.51370135,  0.51607487,  0.51845935,  0.52085486,  0.52326142,
        0.52567911,  0.52810797,  0.53054805,  0.53299941,  0.53546209,
        0.53793615,  0.54042164,  0.54291862,  0.54542713,  0.54794723,
        0.55047898,  0.55302243,  0.55557762,  0.55814462,  0.56072349,
        0.56331427,  0.56591702,  0.56853179,  0.57115865,  0.57379764,
        0.57644883,  0.57911226,  0.58178801,  0.58447611,  0.58717664,
        0.58988964,  0.59261518,  0.59535331,  0.5981041 ,  0.60086759,
        0.60364385,  0.60643294,  0.60923492,  0.61204984,  0.61487777,
        0.61771876,  0.62057288,  0.62344019,  0.62632075,  0.62921461,
        0.63212185,  0.63504252,  0.63797668,  0.6409244 ,  0.64388574,
        0.64686077,  0.64984954,  0.65285211,  0.65586857,  0.65889896,
        0.66194335,  0.6650018 ,  0.66807439,  0.67116118,  0.67426222,
        0.6773776 ,  0.68050737,  0.6836516 ,  0.68681036,  0.68998371,
        0.69317173,  0.69637447,  0.69959202,  0.70282443,  0.70607177,
        0.70933412,  0.71261154,  0.71590411,  0.71921189,  0.72253495,
        0.72587337,  0.72922721,  0.73259654,  0.73598145,  0.73938199,
        0.74279825,  0.74623029,  0.74967819,  0.75314202,  0.75662185,
        0.76011776,  0.76362983,  0.76715812,  0.77070271,  0.77426368,
        0.77784111,  0.78143506,  0.78504562,  0.78867286,  0.79231686,
        0.7959777 ,  0.79965545,  0.8033502 ,  0.80706201,  0.81079098,
        0.81453718,  0.81830068,  0.82208158,  0.82587994,  0.82969585,
        0.8335294 ,  0.83738065,  0.8412497 ,  0.84513663,  0.84904152,
        0.85296445,  0.85690551,  0.86086477,  0.86484233,  0.86883826,
        0.87285266,  0.87688561,  0.88093719,  0.88500749,  0.8890966 ,
        0.8932046 ,  0.89733158,  0.90147763,  0.90564284,  0.90982729,
        0.91403107,  0.91825428,  0.92249701,  0.92675933,  0.93104135,
        0.93534315,  0.93966483,  0.94400648,  0.94836819,  0.95275005,
        0.95715215,  0.9615746 ,  0.96601748,  0.97048089,  0.97496492,
        0.97946967,  0.98399523,  0.9885417 ,  0.99310918,  0.99769776,
        1.00230755,  1.00693863,  1.01159111,  1.01626509,  1.02096066,
        1.02567793,  1.03041699,  1.03517796,  1.03996091,  1.04476597,
        1.04959323,  1.05444279,  1.05931476,  1.06420924,  1.06912634,
        1.07406615,  1.07902879,  1.08401436,  1.08902296,  1.09405471,
        1.0991097 ,  1.10418805,  1.10928986,  1.11441525,  1.11956432,
        1.12473718,  1.12993394,  1.13515471,  1.1403996 ,  1.14566873,
        1.1509622 ,  1.15628013,  1.16162263,  1.16698982,  1.1723818 ,
        1.1777987 ,  1.18324063,  1.1887077 ,  1.19420003,  1.19971774,
        1.20526094,  1.21082975,  1.21642429,  1.22204469,  1.22769105,
        1.2333635 ,  1.23906216,  1.24478715,  1.25053859,  1.2563166 ,
        1.26212131,  1.26795285,  1.27381132,  1.27969687,  1.28560961,
        1.29154967,  1.29751717,  1.30351224,  1.30953502,  1.31558562,
        1.32166418,  1.32777083,  1.33390569,  1.3400689 ,  1.34626058,
        1.35248087,  1.3587299 ,  1.36500781,  1.37131472,  1.37765077,
        1.3840161 ,  1.39041083,  1.39683512,  1.40328908,  1.40977287,
        1.41628662,  1.42283046,  1.42940453,  1.43600898,  1.44264395,
        1.44930957,  1.456006  ,  1.46273336,  1.4694918 ,  1.47628147,
        1.48310251,  1.48995507,  1.49683929,  1.50375532,  1.5107033 ,
        1.51768339,  1.52469573,  1.53174046,  1.53881775,  1.54592774,
        1.55307057,  1.56024641,  1.56745541,  1.57469771,  1.58197348,
        1.58928287,  1.59662602,  1.60400311,  1.61141428,  1.61885969,
        1.6263395 ,  1.63385388,  1.64140297,  1.64898694,  1.65660596,
        1.66426018,  1.67194976,  1.67967487,  1.68743568,  1.69523234,
        1.70306503,  1.71093391,  1.71883914,  1.7267809 ,  1.73475936,
        1.74277468,  1.75082703,  1.75891659,  1.76704353,  1.77520801,
        1.78341022,  1.79165033,  1.79992851,  1.80824493,  1.81659979,
        1.82499324,  1.83342548,  1.84189668,  1.85040702,  1.85895668,
        1.86754584,  1.87617469,  1.88484341,  1.89355218,  1.90230119,
        1.91109062,  1.91992067,  1.92879151,  1.93770334,  1.94665634,
        1.95565072,  1.96468665,  1.97376433,  1.98288395,  1.99204571,
        2.0012498 ,  2.01049642,  2.01978576,  2.02911802,  2.0384934 ,
        2.0479121 ,  2.05737431,  2.06688025,  2.07643011,  2.08602409,
        2.0956624 ,  2.10534524,  2.11507282,  2.12484535,  2.13466303,
        2.14452608,  2.15443469,  2.16438909,  2.17438948,  2.18443607,
        2.19452909,  2.20466874,  2.21485523,  2.2250888 ,  2.23536965,
        2.245698  ,  2.25607407,  2.26649808,  2.27697026,  2.28749082,
        2.29805999,  2.30867799,  2.31934506,  2.33006141,  2.34082728,
        2.35164288,  2.36250847,  2.37342425,  2.38439047,  2.39540736,
        2.40647515,  2.41759408,  2.42876438,  2.4399863 ,  2.45126006,
        2.46258592,  2.4739641 ,  2.48539486,  2.49687843,  2.50841506,
        2.52000499,  2.53164848,  2.54334576,  2.55509709,  2.56690272,
        2.57876289,  2.59067786,  2.60264788,  2.61467321,  2.6267541 ,
        2.63889081,  2.6510836 ,  2.66333273,  2.67563844,  2.68800102,
        2.70042072,  2.7128978 ,  2.72543253,  2.73802518,  2.75067601,
        2.76338529,  2.77615329,  2.78898029,  2.80186656,  2.81481236,
        2.82781798,  2.84088369,  2.85400977,  2.8671965 ,  2.88044415,
        2.89375302,  2.90712338,  2.92055551,  2.93404971,  2.94760626,
        2.96122544,  2.97490755,  2.98865287,  3.00246171,  3.01633435,
        3.03027108,  3.04427221,  3.05833803,  3.07246884,  3.08666494,
        3.10092664,  3.11525422,  3.12964801,  3.1441083 ,  3.15863541,
        3.17322963,  3.18789129,  3.20262069,  3.21741815,  3.23228398,
        3.24721849,  3.26222201,  3.27729485,  3.29243733,  3.30764978,
        3.32293252,  3.33828586,  3.35371015,  3.36920571,  3.38477286,
        3.40041193,  3.41612327,  3.4319072 ,  3.44776405,  3.46369418,
        3.4796979 ,  3.49577557,  3.51192753,  3.52815412,  3.54445567,
        3.56083255,  3.5772851 ,  3.59381366,  3.6104186 ,  3.62710025,
        3.64385898,  3.66069515,  3.6776091 ,  3.69460121,  3.71167182,
        3.72882131,  3.74605003,  3.76335836,  3.78074666,  3.79821531,
        3.81576466,  3.8333951 ,  3.851107  ,  3.86890074,  3.88677669,
        3.90473524,  3.92277676,  3.94090164,  3.95911027,  3.97740302,
        3.9957803 ,  4.01424249,  4.03278998,  4.05142317,  4.07014245,
        4.08894823,  4.10784089,  4.12682085,  4.1458885 ,  4.16504425,
        4.18428851,  4.20362168,  4.22304419,  4.24255643,  4.26215883,
        4.2818518 ,  4.30163576,  4.32151113,  4.34147833,  4.36153779,
        4.38168993,  4.40193519,  4.42227398,  4.44270675,  4.46323393,
        4.48385595,  4.50457325,  4.52538628,  4.54629547,  4.56730127,
        4.58840413,  4.60960449,  4.6309028 ,  4.65229952,  4.67379511,
        4.69539001,  4.71708469,  4.73887961,  4.76077523,  4.78277202,
        4.80487044,  4.82707097,  4.84937407,  4.87178022,  4.8942899 ,
        4.91690358,  4.93962174,  4.96244488,  4.98537346,  5.00840799,
        5.03154895,  5.05479682,  5.07815211,  5.10161531,  5.12518693,
        5.14886745,  5.17265739,  5.19655724,  5.22056753,  5.24468875,
        5.26892142,  5.29326606,  5.31772318,  5.3422933 ,  5.36697695,
        5.39177464,  5.41668691,  5.44171429,  5.4668573 ,  5.49211648,
        5.51749238,  5.54298552,  5.56859644,  5.59432571,  5.62017385,
        5.64614142,  5.67222897,  5.69843706,  5.72476624,  5.75121707,
        5.77779012,  5.80448594,  5.83130511,  5.8582482 ,  5.88531578,
        5.91250841,  5.93982669,  5.9672712 ,  5.9948425 ,  6.0225412 ,
        6.05036788,  6.07832313,  6.10640754,  6.13462172,  6.16296626,
        6.19144176,  6.22004883,  6.24878807,  6.27766011,  6.30666554,
        6.33580499,  6.36507908,  6.39448843,  6.42403366,  6.4537154 ,
        6.48353429,  6.51349095,  6.54358602,  6.57382014,  6.60419396,
        6.63470812,  6.66536327,  6.69616005,  6.72709914,  6.75818117,
        6.78940681,  6.82077673,  6.8522916 ,  6.88395207,  6.91575883,
        6.94771255,  6.97981391,  7.01206359,  7.04446228,  7.07701066,
        7.10970943,  7.14255929,  7.17556092,  7.20871503,  7.24202233,
        7.27548353,  7.30909933,  7.34287045,  7.3767976 ,  7.41088152,
        7.44512291,  7.47952252,  7.51408106,  7.54879928,  7.58367791,
        7.6187177 ,  7.65391939,  7.68928372,  7.72481145,  7.76050334,
        7.79636013,  7.8323826 ,  7.86857151,  7.90492762,  7.94145172,
        7.97814457,  8.01500696,  8.05203967,  8.08924349,  8.1266192 ,
        8.1641676 ,  8.2018895 ,  8.23978568,  8.27785697,  8.31610415,
        8.35452806,  8.3931295 ,  8.43190929,  8.47086827,  8.51000725,
        8.54932707,  8.58882856,  8.62851257,  8.66837993,  8.7084315 ,
        8.74866812,  8.78909065,  8.82969996,  8.87049689,  8.91148232,
        8.95265713,  8.99402217,  9.03557835,  9.07732653,  9.1192676 ,
        9.16140246,  9.203732  ,  9.24625712,  9.28897872,  9.33189772,
        9.37501502,  9.41833153,  9.46184819,  9.50556592,  9.54948564,
        9.59360829,  9.6379348 ,  9.68246612,  9.72720319,  9.77214697,
        9.81729841,  9.86265846,  9.9082281 ,  9.95400829, 10.        ])

In [7]:
alphas = np.logspace(0, 1, 1000)

ridgecv = RidgeCV(alphas = alphas, cv = 10)
ridgecv.fit(X_train, y_train)

print('Best Alpha Value from RidgeCV:', ridgecv.alpha_)

Best Alpha Value from RidgeCV: 2.2664980792736933

In [8]:
ridge = Ridge(alpha = ridgecv.alpha_)
ridge.fit(X_train, y_train)
y_pred = ridge.predict(X_train)
RMSEs['Ridge'] = np.sqrt(mean_squared_error(y_train, y_pred))
print(RMSEs['Ridge'])

2.0065378031387846

In [23]:
# Preparing the data for submission
y_test_pred = ridge.predict(X_test)

solution = pd.DataFrame({'Item_Identifier' : test.Item_Identifier, 
                        'Outlet_Identifier' : test.Outlet_Identifier,
                        'Item_Outlet_Sales' : y_test_pred ** 3})

# Export to CSV
solution.to_csv("Solution1_BigMart_Sales_Ridge_Saurabh.csv", index = False)

display(solution.head())

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1652.854164
1           FDW14            OUT017        1306.638282
2           NCN55            OUT010         843.272058
3           FDQ58            OUT017        2325.856290
4           FDY38            OUT027        5437.774504

#### Decision Tree

In [9]:
dt = DecisionTreeRegressor(random_state = 0)
dt.fit(X_train, y_train)
y_train_pred = dt.predict(X_train)
RMSEs['DT'] = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(RMSEs['DT'])

0.0

#### Tuning Decision Tree

In [10]:
dt = DecisionTreeRegressor(random_state = 0)

params = {'max_depth' : sp_randint(2, 100),
         'min_samples_split' : sp_randint(2, 25),
          'min_samples_leaf' : sp_randint(1, 25)}

rsearch = RandomizedSearchCV(dt, param_distributions = params,
                            n_iter = 100, cv = 10, random_state = 0)
rsearch.fit(X_train, y_train)
print(rsearch.best_params_)

{'max_depth': 5, 'min_samples_leaf': 10, 'min_samples_split': 12}

##### Tuned Decision Tree

In [11]:
dt = DecisionTreeRegressor(**rsearch.best_params_, random_state = 0)
dt.fit(X_train, y_train)

y_train_pred = dt.predict(X_train)

RMSEs['DT'] = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(RMSEs['DT'])

1.9628277120187039

In [24]:
# Preparing the data for submission
y_test_pred = dt.predict(X_test)

solution = pd.DataFrame({'Item_Identifier' : test.Item_Identifier, 
                        'Outlet_Identifier' : test.Outlet_Identifier,
                        'Item_Outlet_Sales' : y_test_pred ** 3})

# Export to CSV
solution.to_csv("Solution2_BigMart_Sales_DT_Saurabh.csv", index = False)

display(solution.head())

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1613.794949
1           FDW14            OUT017        1273.751060
2           NCN55            OUT010         563.992404
3           FDQ58            OUT017        2439.609939
4           FDY38            OUT027        5952.320066

### Random Forest

In [12]:
rf = RandomForestRegressor(random_state = 0)

rf.fit(X_train, y_train)

y_train_pred = rf.predict(X_train)

RMSEs['RF'] = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(RMSEs['RF'])

0.7806225546239443

#### Tuning Random Forest

In [16]:
rf = RandomForestRegressor(random_state = 0)

params = {'n_estimators' : sp_randint(50, 200),
         'max_features' : sp_randint(1, 13),
         'max_depth' : sp_randint(2, 50),
         'min_samples_leaf' : sp_randint(1, 25),
         'min_samples_split' : sp_randint(2, 25),
         'oob_score' : [False, True]}

rsearch = RandomizedSearchCV(rf, param_distributions = params, n_jobs = -1,
                             n_iter = 100, cv = 5, random_state = 0)
rsearch.fit(X_train, y_train)
print(rsearch.best_params_)

{'max_depth': 8, 'max_features': 11, 'min_samples_leaf': 22, 'min_samples_split': 18, 'n_estimators': 144, 'oob_score': True}

##### Tuned Random Forest

In [17]:
rf = RandomForestRegressor(**rsearch.best_params_, random_state = 0)

rf.fit(X_train, y_train)

y_train_pred = rf.predict(X_train)

RMSEs['RF'] = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(RMSEs['RF'])

1.888891311648034

In [25]:
# Preparing the data for submission
y_test_pred = rf.predict(X_test)

solution = pd.DataFrame({'Item_Identifier' : test.Item_Identifier, 
                        'Outlet_Identifier' : test.Outlet_Identifier,
                        'Item_Outlet_Sales' : y_test_pred ** 3})

# Export to CSV
solution.to_csv("Solution3_BigMart_Sales_RF_Saurabh.csv", index = False)

display(solution.head())

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1478.811575
1           FDW14            OUT017        1262.961004
2           NCN55            OUT010         563.812637
3           FDQ58            OUT017        2255.092557
4           FDY38            OUT027        6016.411302

In [18]:
imp = pd.DataFrame(rf.feature_importances_, index = X_train.columns, columns = ['Importance'])
display(imp.sort_values(by = 'Importance', ascending = False))

                               Importance
Outlet_Crowd_Low_Crowd           0.460453
Item_MRP                         0.427258
Price_Per_Unit                   0.033899
Outlet_Vintage                   0.031455
Outlet_Type_Supermarket Type3    0.030885
Item_Visibility                  0.006902
Item_Weight                      0.004562
Outlet_Type_Supermarket Type1    0.001943
Outlet_Location_Type_Tier 3      0.001101
Item_Fat_Content_Regular         0.000502
Item_Type_Perishables            0.000477
Item_Identifier_FD               0.000331
Outlet_Size_Medium               0.000233

### KNN

In [19]:
knn = KNeighborsRegressor()

knn.fit(X_train, y_train)

y_train_pred = knn.predict(X_train)

RMSEs['KNN'] = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(RMSEs['KNN'])

1.772456447296481

#### Tuning KNN

In [21]:
knn = KNeighborsRegressor()
params = {'n_neighbors' : sp_randint(1, 25),
         'p' : sp_randint(1, 10)}

rsearch = RandomizedSearchCV(knn, param_distributions = params, 
                             cv = 5, n_iter = 25, n_jobs = -1, 
                             random_state = 0)
rsearch.fit(X_train, y_train)
print(rsearch.best_params_)

{'n_neighbors': 20, 'p': 1}

##### Tuned KNN

In [26]:
knn = KNeighborsRegressor(**rsearch.best_params_)

knn.fit(X_train, y_train)

y_train_pred = knn.predict(X_train)

RMSEs['KNN'] = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(RMSEs['KNN'])

1.9277843235451884

In [29]:
# Preparing the data for submission
y_test_pred = knn.predict(X_test)

solution = pd.DataFrame({'Item_Identifier' : test.Item_Identifier, 
                        'Outlet_Identifier' : test.Outlet_Identifier,
                        'Item_Outlet_Sales' : y_test_pred ** 3})

# Export to CSV
solution.to_csv("Solution4_BigMart_Sales_KNN_Saurabh.csv", index = False)

display(solution.head())

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1846.788620
1           FDW14            OUT017        1281.561710
2           NCN55            OUT010         559.569020
3           FDQ58            OUT017        2089.070203
4           FDY38            OUT027        5115.412768

### AdaBoost

In [27]:
ada = AdaBoostRegressor(random_state = 0)
ada.fit(X_train, y_train)

y_train_pred = ada.predict(X_train)

RMSEs['Ada'] = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(RMSEs['Ada'])

2.068100931302001

#### Tuning AdaBoost

In [28]:
ada = AdaBoostRegressor(random_state = 0)
params = {'n_estimators' : sp_randint(25, 100),
         'learning_rate' : np.logspace(-1, 0.5, 100),
         'loss' : ['linear', 'square']}

rsearch = RandomizedSearchCV(ada, param_distributions = params, 
                             cv = 5, n_iter = 100, n_jobs = -1,
                             random_state = 0)
rsearch.fit(X_train, y_train)
print(rsearch.best_params_)

{'learning_rate': 0.1873817422860384, 'loss': 'linear', 'n_estimators': 79}

##### Tuned AdaBoost

In [30]:
ada = AdaBoostRegressor(**rsearch.best_params_, random_state = 0)

ada.fit(X_train, y_train)

y_train_pred = ada.predict(X_train)

RMSEs['Ada'] = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(RMSEs['Ada'])

2.0483415428498435

In [31]:
# Preparing the data for submission
y_test_pred = ada.predict(X_test)

solution = pd.DataFrame({'Item_Identifier' : test.Item_Identifier, 
                        'Outlet_Identifier' : test.Outlet_Identifier,
                        'Item_Outlet_Sales' : y_test_pred ** 3})

# Export to CSV
solution.to_csv("Solution5_BigMart_Sales_ADA_Saurabh.csv", index = False)

display(solution.head())

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1460.335173
1           FDW14            OUT017        1287.057296
2           NCN55            OUT010         540.971063
3           FDQ58            OUT017        2343.867826
4           FDY38            OUT027        4687.579244

### Gradient Boosting

In [33]:
gbm = GradientBoostingRegressor(random_state = 0)

gbm.fit(X_train, y_train)
y_train_pred = gbm.predict(X_train)

RMSEs['GBM'] = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(RMSEs['GBM'])

1.8977889375561592

#### Tuning GBM

In [45]:
gbm = GradientBoostingRegressor(random_state = 0)

params = {'n_estimators' : sp_randint(50, 200),
          'max_features' : sp_randint(1, 13),
          'max_depth' : sp_randint(2, 50),
          'min_samples_leaf' : sp_randint(1, 25),
          'min_samples_split' : sp_randint(2, 25),
          'learning_rate' : sp_uniform(0, 1)}

rsearch_gbm = RandomizedSearchCV(gbm, param_distributions = params, n_jobs = -1,
                                 cv = 3, n_iter = 25, random_state = 0)

rsearch_gbm.fit(X_train, y_train)
print(rsearch_gbm.best_params_)

{'learning_rate': 0.10204481074802807, 'max_depth': 5, 'max_features': 5, 'min_samples_leaf': 21, 'min_samples_split': 10, 'n_estimators': 128}

##### Tuned GBM

In [47]:
gbm = GradientBoostingRegressor(**rsearch_gbm.best_params_, random_state = 0)

gbm.fit(X_train, y_train)
y_train_pred = gbm.predict(X_train)

RMSEs['GBM'] = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(RMSEs['GBM'])

1.8086620744899984

In [48]:
# Preparing the data for submission
y_test_pred = gbm.predict(X_test)

solution = pd.DataFrame({'Item_Identifier' : test.Item_Identifier, 
                        'Outlet_Identifier' : test.Outlet_Identifier,
                        'Item_Outlet_Sales' : y_test_pred ** 3})

# Export to CSV
solution.to_csv("Solution6_BigMart_Sales_GBM_Saurabh.csv", index = False)

display(solution.head())

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1661.022833
1           FDW14            OUT017        1309.649602
2           NCN55            OUT010         553.706685
3           FDQ58            OUT017        2527.065159
4           FDY38            OUT027        6006.994017

### LightGBM

In [38]:
lgbr = lgb.LGBMRegressor(random_state = 0)

lgbr.fit(X_train, y_train)

y_train_pred = lgbr.predict(X_train)

RMSEs['LGBM'] = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(RMSEs['LGBM'])

1.730752030344429

#### Tuning LightGBM

In [39]:
np.logspace(-1, 0.5, 150)

array([0.1       , 0.10234511, 0.10474522, 0.10720162, 0.10971562,
       0.11228858, 0.11492187, 0.11761692, 0.12037517, 0.1231981 ,
       0.12608724, 0.12904413, 0.13207036, 0.13516756, 0.1383374 ,
       0.14158157, 0.14490182, 0.14829993, 0.15177773, 0.15533709,
       0.15897992, 0.16270818, 0.16652388, 0.17042905, 0.17442581,
       0.17851629, 0.1827027 , 0.18698729, 0.19137235, 0.19586025,
       0.2004534 , 0.20515426, 0.20996536, 0.21488929, 0.21992869,
       0.22508626, 0.23036479, 0.23576711, 0.24129612, 0.24695479,
       0.25274616, 0.25867334, 0.26473953, 0.27094797, 0.27730201,
       0.28380506, 0.29046061, 0.29727224, 0.30424362, 0.31137848,
       0.31868066, 0.32615408, 0.33380277, 0.34163082, 0.34964246,
       0.35784197, 0.36623377, 0.37482237, 0.38361238, 0.39260853,
       0.40181565, 0.41123868, 0.4208827 , 0.43075288, 0.44085452,
       0.45119307, 0.46177406, 0.47260319, 0.48368627, 0.49502926,
       0.50663826, 0.51851951, 0.53067938, 0.54312442, 0.55586131,
       0.56889689, 0.58223817, 0.59589232, 0.60986667, 0.62416874,
       0.63880621, 0.65378694, 0.66911899, 0.68481059, 0.70087018,
       0.71730639, 0.73412804, 0.75134418, 0.76896406, 0.78699714,
       0.80545312, 0.82434191, 0.84367367, 0.86345878, 0.88370787,
       0.90443183, 0.92564179, 0.94734914, 0.96956556, 0.99230298,
       1.01557362, 1.03938997, 1.06376485, 1.08871135, 1.11424288,
       1.14037314, 1.16711619, 1.1944864 , 1.22249846, 1.25116745,
       1.28050875, 1.31053814, 1.34127175, 1.3727261 , 1.4049181 ,
       1.43786503, 1.4715846 , 1.50609494, 1.54141458, 1.57756251,
       1.61455815, 1.65242138, 1.69117254, 1.73083247, 1.77142246,
       1.81296434, 1.85548042, 1.89899355, 1.94352711, 1.98910504,
       2.03575182, 2.08349252, 2.1323528 , 2.1823589 , 2.23353771,
       2.28591671, 2.33952406, 2.39438857, 2.45053971, 2.50800766,
       2.5668233 , 2.62701823, 2.68862481, 2.75167612, 2.81620607,
       2.88224931, 2.94984134, 3.01901848, 3.08981791, 3.16227766])

In [40]:
lgbr = lgb.LGBMRegressor(random_state = 0)

params = {'n_estimators' : sp_randint(50, 200),
         'max_depth' : sp_randint(1, 25),
         'learning_rate' : sp_uniform(0, 1)}

rsearch_lgbm = RandomizedSearchCV(lgbr, param_distributions = params, n_jobs = -1,
                                 cv = 5, n_iter = 100, random_state = 0)

rsearch_lgbm.fit(X_train, y_train)
print(rsearch_lgbm.best_params_)

{'learning_rate': 0.0923738894608982, 'max_depth': 2, 'n_estimators': 168}

##### Tuned LightGBM

In [41]:
lgbr = lgb.LGBMRegressor(**rsearch_lgbm.best_params_, random_state = 0)

lgbr.fit(X_train, y_train)

y_train_pred = lgbr.predict(X_train)

RMSEs['LGBM'] = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(RMSEs['LGBM'])

1.9244315314917697

In [42]:
# Preparing the data for submission
y_test_pred = lgbr.predict(X_test)

solution = pd.DataFrame({'Item_Identifier' : test.Item_Identifier, 
                        'Outlet_Identifier' : test.Outlet_Identifier,
                        'Item_Outlet_Sales' : y_test_pred ** 3})

# Export to CSV
solution.to_csv("Solution7_BigMart_Sales_LGBR_Saurabh.csv", index = False)

display(solution.head())

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1372.953640
1           FDW14            OUT017        1336.779541
2           NCN55            OUT010         560.657179
3           FDQ58            OUT017        2359.363579
4           FDY38            OUT027        5730.875120

### Stacking

In [151]:
print(RMSEs)

{'Ridge': 26406.869688797884, 'DT': 31979.03245721867, 'RF': 10745.33626169421, 'KNN': 35189.87401966457, 'Ada': 31331.950847285876, 'LGBM': 15191.039788656703}

#### Voting Regressor

In [49]:
votreg = VotingRegressor(estimators = [('rf', rf), ('lgbr', lgbr), ('gbm', gbm)])

votreg.fit(X_train, y_train)

y_train_pred = votreg.predict(X_train)
print("Voting Regressor RMSE:", np.sqrt(mean_squared_error(y_train, y_train_pred)))

Voting Regressor RMSE: 1.8682133440244961

In [50]:
# Preparing the data for submission
y_test_pred = votreg.predict(X_test)

solution = pd.DataFrame({'Item_Identifier' : test.Item_Identifier, 
                        'Outlet_Identifier' : test.Outlet_Identifier,
                        'Item_Outlet_Sales' : y_test_pred ** 3})

# Export to CSV
solution.to_csv("Solution8_BigMart_VotReg_Saurabh.csv", index = False)

display(solution.head())

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1501.160525
1           FDW14            OUT017        1302.891282
2           NCN55            OUT010         559.381528
3           FDQ58            OUT017        2378.760525
4           FDY38            OUT027        5917.096665